*.swp
.DS_Store
._*
Thumbs.db
.bundle
.rvmrc
/config/configuration.yml
/config/secrets.yml
/config/database.yml
/config/hirb.yml
/config/mailchimp.yml
/config/mailers.yml
/db/*.sqlite3
/doc/*.csv
/doc/*/*.bak
/doc/report.html
/log/*.log
/tags
/tmp/*
/public/system
/bin

.tags*
