*.swp
.DS_Store
.bundle
.rvmrc
/Gemfile.lock
/config/configuration.yml
/config/database.yml
/config/hirb.yml
/config/mailchimp.yml
/config/mailers.yml
/db/*.sqlite3
/doc/*.csv
/doc/*/*.bak
/doc/report.html
/log/*.log
/tags
/tmp/*
/public/system
