.row
  .col-lg-12
    %b= I18n.t('person.dashboard.welcome');

    %br
    %br
    This place is a placeholder for :
    %ul
      %li directs messages (reminders)
      %li last comment
      %li activity
      %li shortcuts
      %li statistics

  .block.clear
    %br
