.container
  .error_page{:style => 'background-image: url("/assets/403.jpg");'}
    %h1 Oooops!
    %br
    %h1= I18n.t('permission.errors.forbidden')
    = I18n.t('permission.errors.forbidden_explanation')
    %br
    %br
    != I18n.t('common.errors.if_you_think_it_s_a_bug')
