#content_wrapper{:style => 'margin-left: 0;'}
  #content{:style => 'background-image: url("/assets/404.jpg");', :class => 'error'}
    .error_page
      %h1 Oooops!
      %br
      %h1= I18n.t('permission.errors.page_not_found')
      = I18n.t('permission.errors.page_not_found_explanation')
      %br
      %br
      != I18n.t('common.errors.if_you_think_it_s_a_bug')
