#content_wrapper{:style => 'margin-left: 0;'}
  #content{:style => 'background-image: url("/assets/404.jpg");', :class => 'error'}
    .error_page
      %h1 Oooops!
      %br
      %h1= I18n.t('permission.errors.attribute_not_found')
      = @exception.to_s
      %br
      %br
      != I18n.t('common.errors.if_you_think_it_s_a_bug')
