.row
  .col-lg-12
    #secondary_navigation.navbar.navbar-default.navbar-static-top
      .container
        .collapse.navbar-collapse
          .navbar-right.btn-group
            - if can? :create, Person
              %a{ :href => directory_mailchimp_path,
                  :class => 'btn btn-default navbar-btn',
                  :id => 'directory-add-person' }
                .icon-user
                = I18n.t('directory.views.add_person')

            - if can? :mailchimp, Directory
              %a{ :href => '#',
                  :class => 'btn btn-danger navbar-btn',
                  :method => :post,
                  :confirm => I18n.t('common.are_you_sure'),
                  :id => 'directory-add-person' }
                .icon-refresh
                = I18n.t('directory.views.sync_mailchimp')

.container

  .row
    .col-lg-3
    .col-lg-6
      - if flash[:error] or flash[:alert] or flash[:notice]
        - flash_messages

      %input{ :id => "directory_json_query",
        :name => "directory_json_query",
        :type => "hidden",
        :value => @query.to_json.html_safe } 
    .col-lg-3

  .panel.panel-default
    #directory_filters
    #directory_search_engine

