.row
  .col-lg-12
    #secondary_navigation.navbar.navbar-default.navbar-static-top
      .container
        .collapse.navbar-collapse
          %ul#sub_nav.nav.navbar-nav
            - if can? :read, Salaries::Salary
              %li
                %a{:href => '#payroll'}
                  = I18n.t('common.salaries')

            - if can? :create, Salaries::Tax
              %li
                %a{:href => '#deductions'}
                  = I18n.t('salaries.views.taxes')

.container
  .row
    .col-lg-3
    .col-lg-6
      -# TODO put the right object below
      -#- error_messages_for(@settings)
    .col-lg-3

  .tab-content
    #payroll.tab-pane.fade
      .row
        .col-lg-12
          - if can? :read, Salaries::Salary
            #salaries_salaries.panel.panel-primary
              .panel-heading
                .panel-title
                  = I18n.t('common.salaries')

    #deductions.tab-pane.fade
      .row
        .col-lg-12
          - if can? :create, Salaries::Tax
            #salaries_taxes.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('salaries.views.taxes')
