#secondary_navbar.navbar.navbar-default.navbar-static-top

  .navbar-header
    .visible-xs
      .navbar-brand
        #tab_name

    // extra-small resolutions
    %button{:class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#secondary_navigation'}
      .icon-bar
      .icon-bar
      .icon-bar

  .container
    #secondary_navigation.collapse.navbar-collapse
      %ul#sub_nav.nav.navbar-nav
        - if can? :read, Salaries::Salary
          %li
            %a{:href => '#payroll_tab'}
              = I18n.t('common.salaries')

        - if can? :create, Salaries::Tax
          %li
            %a{:href => '#deductions_tab'}
              = I18n.t('salary.views.taxes')

.container
  .row
    .col-lg-3
    .col-lg-6
      - if flash[:error] or flash[:alert] or flash[:notice]
        - flash_messages
    .col-lg-3

  .tab-content
    #payroll_tab.tab-pane.fade
      .row
        .col-lg-12
          - if can? :read, Salaries::Salary
            #salaries_salaries.panel.panel-primary
              .panel-heading
                .panel-title
                  = I18n.t('common.salaries')

    #deductions_tab.tab-pane.fade
      .row
        .col-lg-12
          - if can? :create, Salaries::Tax
            #salaries_taxes.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('salary.views.taxes')
