%table.receipts
  %tr
    - options[:fields].each do |field|
      %th= I18n.t("receipt.views." + field.to_s)

  - receipts.order(options[:order]).each do |s|
    %tr
      - options[:fields].each do |f|
        - field = s.send(f)
        - if field.is_a? Time
          - field = field.to_date.to_s
        - else
          - field = field.to_s

        %td= field
