%table.subscriptions
  %tr
    - options[:fields].each do |field|
      %th= I18n.t("subscription.views." + field.to_s)

  - subscriptions.order(options[:order]).each do |s|
    %tr
      - options[:fields].each do |f|
        - if f == :value
          - field = s.value_for(invoice.buyer)
        - else
          - field = s.send(f)
        - if field.is_a? Time
          %td= field.to_date.to_s
        - elsif field.is_a? Money
          %td.number= field.to_view
        - else
          %td= field.to_s
