/* It's required for *kit and the wysiwyg to deliver the full path of every assets. */
@font-face
  font-family: "OCR-B"
  src: url("https://assets.circl.ch/fonts/OCRB.ttf")

@font-face
  font-family: "Arial Narrow"
  src: url("https://assets.circl.ch/fonts/arial_narrow.ttf")

/* CALIBRI */
@font-face
  font-family: "Calibri"
  src: url("https://assets.circl.ch/fonts/calibri.ttf")

/* HELVETICA */
@font-face
  font-family: "Helvetica Neue Cap"
  src: url("https://assets.circl.ch/fonts/BebasNeue.otf")

@font-face
  font-family: "Helvetica Neue"
  src: url("https://assets.circl.ch/fonts/MYRIADPRO-BOLDCONDIT.OTF"), url("https://assets.circl.ch/fonts/MYRIADPRO-BOLDCOND.OTF"), url("https://assets.circl.ch/fonts/MYRIADPRO-BOLDIT.OTF"), url("https://assets.circl.ch/fonts/MYRIADPRO-BOLD.OTF"), url("https://assets.circl.ch/fonts/MYRIADPRO-CONDIT.OTF"), url("https://assets.circl.ch/fonts/MYRIADPRO-COND.OTF"), url("https://assets.circl.ch/fonts/MYRIADPRO-REGULAR.OTF"), url("https://assets.circl.ch/fonts/MYRIADPRO-SEMIBOLDIT.OTF"), url("https://assets.circl.ch/fonts/MYRIADPRO-SEMIBOLD.OTF")

@font-face
  font-family: "Helvetica Neue Light"
  src: url("https://assets.circl.ch/fonts/TitilliumText22L001.otf"), Url("https://assets.circl.ch/fonts/TitilliumText22L002.otf"), Url("https://assets.circl.ch/fonts/TitilliumText22L003.otf"), Url("https://assets.circl.ch/fonts/TitilliumText22L004.otf"), Url("https://assets.circl.ch/fonts/TitilliumText22L005.otf"), Url("https://assets.circl.ch/fonts/TitilliumText22L006.otf")