@import "custom_fonts.css"
@import "bootstrap-slider.css"
@import "bootstrap"
@import "leaflet.css"
@import "jquery-ui-bootstrap/jquery-ui-custom.css"
@import "jquery-ui-bootstrap/jquery-ui-ie.css"
@import "jquery.minicolors"
@import "font-awesome/font-awesome.css"

// COLORS
// please do not use HEX color format, always
// use sass color variables
$black: #000
$white: #fff
$dirty_white: #f4f4f4

$good: #0D9E00
$warn: #E8640D
$error: #9E0000
$blue: #4851ea

$good_bg: #afa
$warn_bg: #ffa
$error_bg: #faa
$blue_bg: #94AAF0

$light_grey: #eee
$slight_grey: #ddd
$soft_grey: #c7c7c7
$grey: #aaa
$strong_grey: #737373
$dark_grey: #383838

$dark_bg: #383838

$autocompleters: #00f

$primary_menu_bg: #1d1d1d
$secondary_menu_bg: #5b5b5b

//bootstrap colors
$success: #468847

.hidden
  display: none

@mixin drop-shadow
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1)
  font-family: 'Open Sans', "Arial", "sans-serif"

// Extending Bootstrap our way
// https://github.com/twbs/bootstrap/issues/8869

.hidden-inline-xs
  display: inline !important
.hidden-inline-sm
  display: inline !important
.hidden-inline-md
  display: inline !important
.hidden-inline-lg
  display: inline !important

// XS
@media screen and (max-width: $screen-xs-max)
  .hidden-inline-xs
    display: none !important

// SM
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
  .hidden-inline-sm
    display: none !important

// MD
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max)
  .hidden-inline-md
    display: none !important

//LG
@media screen and (min-width: $screen-lg-min)
  .hidden-inline-lg
    display: none !important

// Custom big size
$affix-width: 200px

.affix-top
  position: absolute

.affix
  position: fixed
  top: 20px !important

.affix-bottom

#affix
  width: $affix-width
  padding: 0 0 0 20px
  float: left
  display: none
  ul
    display: none

$screen-xl: 1600px
$container-xl: $screen-xl - $grid-gutter-width
$screen-xl-min: $screen-xl
$screen-xxl: 1900px
$container-xxl: $screen-xxl - $grid-gutter-width - $affix-width
$screen-xxl-min: $screen-xxl
$screen-xl-max: $screen-xxl-min - 1

.container
  @media (min-width: $screen-xl-min)
    width: $container-xl
  @media (min-width: $screen-xxl-min)
    width: $container-xxl

@media (min-width: $screen-xl-min)
  @include make-grid(xl)

@media (min-width: $screen-xxl-min)
  @include make-grid(xxl)

@mixin make-grid-columns($i: 1, $list: ".col-xl-#{$i}, .col-xxl-#{$i}")
  @for $i from (1 + 1) through $grid-columns
    $list: "#{$list}, .col-xl-#{$i}, .col-xxl-#{$i}"
  #{$list}
    position: relative
    // Prevent columns from collapsing when empty
    min-height: 1px
    // Inner gutter via padding
    padding-left:  ($grid-gutter-width / 2)
    padding-right: ($grid-gutter-width / 2)

@include make-grid-columns

@media screen and (min-width: $screen-xxl-min)
  .container
    margin-left: $affix-width

  #affix
    display: block

// Main navigation
html
  overflow-x: hidden
  overflow-y: scroll

body
  opacity: 0

a.btn
  box-sizing: content-box

header
  nav
    margin-bottom: 0 !important // Override Bootstrap

#tab_name
  margin-left: 65px

#secondary_navbar, #pagination
  z-index: 999 // Fixes z-index conflict with user's dropdown

  h2
    a
      text-decoration: none
      color: $dark_grey
    a:hover
      color: $strong_grey

.ui-autocomplete, .ui-datepicker
  z-index: 1051 !important // Make it visible in modal windows

.modal-info, .modal-warning, .modal-danger
  .modal-header
    border-top-left-radius: 5px
    border-top-right-radius: 5px

.modal-warning
  .modal-header
    background-color: rgb(240, 173, 78)

.modal-danger
  .modal-header
    background-color: rgb(217, 83, 79)

.login-xs
  li.dropdown
    padding-right: 10px
    &>a
      text-align: right
    ul
      background-color: #efefef
      border-bottom: solid 1px #393939 !important
      li
        text-align: left !important
        padding: 5px 10px 10px 5px
        margin: 0

// panels
.panel-disabled
  opacity: 0.5

.panel-fat-title
  margin: 10px 0 20px 0

.accordion
  a
    display: block

  a.empty
    color: $grey

  .form-group
    margin: 0
    padding: 0

    textarea
      border-radius: 0

// datatable
.dataTables_processing
  display: inline

.datatable_wrapper
  overflow-x: auto
  overflow-y: hidden
  position: relative

table.datatable, table.clickable
  margin-bottom: 0

  .sorting_desc, .sorting_asc, .sorting
    cursor: pointer

  thead
    th.ignore-click
      cursor: default

  tbody
    tr.item
      td:not(.ignore-click)
        cursor: pointer

  td.placeholder
    text-align: center
    padding: 10px

.pagination-footer
  text-align: center

// timesheet

.time
  text-align: center

// sortable
.handle
  font-size: 25px
  text-align: center

.handle, .actions
  vertical-align: middle !important

.table
  // When moving object (with sorttable for instance), backgound is not transparent
  tr
    background-color: $white

table
  .desc
    min-width: 100px

  .number, .small-number
    text-align: right
    min-height: 20px

  .number
    min-width: 100px

  .small-number
    min-width: 50px

table.affair_value
  text-align: right
  float: right

  tr
    background-color: transparent !important

    td:nth-child(1)
      min-width: 100px
      padding-right: 3px

    td:nth-child(2)
      color: $grey
      text-align: left

.progress
  height: 100px

// CIRCL stlyes
input
  &[type='number'], &.number
    text-align: right
  &[type='date'], &.datepicker
    text-align: center

.input-group-addon select
  border: none
  background: none

.two-lines-placeholder
  background-color: #f00
  height: 114px

#person_salary_items td,
#person_salary_tax_datas td
  vertical-align: middle !important

.template-thumbnail
  width: 105px
  height: 117px

.autocomplete-icon
  color: $grey

label.required:after
  content: "*"

// Works only for condensed table. The height may be adjusted for a normal table
table.sortable.table-condensed
  .ui-sortable-placeholder
    height: 46px

// search engine
.info-bg
  border: solid 10px $state-info-bg

.danger-bg
  border: solid 10px $state-danger-bg

.all_attributes
  height: 565px

.selected_attributes, .attributes_order
  margin: 0
  padding: 0
  height: 250px
  ol
    background-color: $state-info-bg
    padding-top: 1em
    padding-bottom: 1em

.selected_attributes, .attributes_order, .all_attributes
  overflow-y: scroll

  .ui-sortable-placeholder
    display: block
    height: 20px

  // this should be the remove button
  a.text-danger
    cursor: pointer
    text-decoration: none
    font-size: 1.2em
    line-height: 1em

  a.text-danger:hover
    color: $black

  a.order, a.order:hover
    font-size: 1.2em
    line-height: 1em
    cursor: pointer
    text-decoration: none
    color: $black

  ol
    li
      cursor: move

  dl
    dt
      cursor: move
    dd
      cursor: move

.navbar-intermediate
  background-color: #e7e7e7

  h2
    @include drop-shadow

.drop_denied
  cursor: not-allowed
  background-color: #e7e7e7

// maps
#map_container
  position: absolute
  width: 100%
  height: 100%
  top: 0

body.fullscreen
  width: 100%
  height: 100%

  .navbar
    margin-bottom: 0
    background-color: rgba(0,0,0,0.8)
    border-bottom: none

  .position
    background-color: rgba(0,0,0,0.8)
    padding: 10px 10px 1px 10px
    margin-top: 5px
    color: #fff

// error pages

.error_page
  background-repeat: no-repeat
  background-size: 100%
  color: #fff
  margin: 15px 0
  padding: 15px
  min-height: 500px
  border-radius: 5px

a.back-to-top-link
  color: $black

.back-to-top
  position: fixed
  bottom: 0
  right: 0px
  text-decoration: none
  color: #FFF
  background-color: rgba(39, 41, 48, 0.8)
  font-size: 12px
  padding: 9px 12px
  display: none

.back-to-top i
  font-size: 15px

.back-to-top:hover
  color: #FFF
  background-color: rgba(39, 41, 48, 1)

.back-to-top:focus
  color: #FFF

#shortcuts_content
  .modal-footer
    text-align: left

.color_square
  width: 1em
  height: 1em
  display: inline-block

#tag_cloud
  ol
    margin: 0
    padding: 0
    display: inline
    li
      display: inline-block
      padding: 1px 3px 0 3px
      border-radius: 2px

  .ui-selected
    background-color: $strong_grey
    a
      color: $white !important

.top20
  .o0
    opacity: 1
  .o1
    opacity: 0.95
  .o2
    opacity: 0.90
  .o3
    opacity: 0.85
  .o4
    opacity: 0.80
  .o5
    opacity: 0.75
  .o6
    opacity: 0.70
  .o7
    opacity: 0.65
  .o8
    opacity: 0.60
  .o9
    opacity: 0.575
  .o10
    opacity: 0.55
  .o11
    opacity: 0.525
  .o12
    opacity: 0.5
  .o13
    opacity: 0.475
  .o14
    opacity: 0.45
  .o15
    opacity: 0.425
  .o16
    opacity: 0.4
  .o17
    opacity: 0.375
  .o18
    opacity: 0.35
  .o19
    opacity: 0.325

.legend
  display: inline-block
  float: right

  div
    display: inline-block
    padding: 5px
    vertical-align: middle

.panel-footer
  .form-inline
    display: inline
  .form-group
    margin-bottom: 0

code
  display: block

.checkbox-icon
  cursor: pointer