@import "custom_fonts.css"
@import "bootstrap.css"
@import "jquery-ui-bootstrap/jquery-ui-custom.css"
@import "jquery-ui-bootstrap/jquery-ui-ie.css"

// COLORS
// please do not use HEX color format, always
// use sass color variables
$black: #000
$white: #fff
$dirty_white: #f4f4f4

$good: #0D9E00
$warn: #E8640D
$error: #9E0000
$blue: #4851ea

$good_bg: #afa
$warn_bg: #ffa
$error_bg: #faa
$blue_bg: #94AAF0

$light_grey: #eee
$slight_grey: #ddd
$soft_grey: #c7c7c7
$grey: #aaa
$strong_grey: #737373
$dark_grey: #383838

$dark_bg: #383838

$autocompleters: #00f

$primary_menu_bg: #1d1d1d
$secondary_menu_bg: #5b5b5b

// $screen-sm-max: 991px
// $screen-md-max: 1199px
// @media (max-width: @screen-phone-max) { }
// @media (min-width: @screen-sm) and (max-width: $screen-sm-max)
// @media (min-width: @screen-md) and (max-width: $screen-md-max) { }
// @media (min-width: @screen-lg) { }

// Main navigation

body

a.btn
  box-sizing: content-box

header
  nav
    margin-bottom: 0 !important // Override Bootstrap

#secondary_navigation
  z-index: 999 // Fixes z-index conflict with user's dropdown

// panels
.panel-disabled
  opacity: 0.5

// datatable
table.datatable
  .sorting_desc, .sorting_asc, .sorting
    cursor: pointer

  margin-bottom: 0

  tbody
    tr.item
      cursor: pointer

  thead
    .sorting:before

    .sorting_desc

    .sorting_asc

.pagination-footer
  text-align: center

// // TYPO
// @mixin drop-shadow
//   text-shadow: 0 2px 2px rgba(0, 0, 0, .1)
//   font-family: 'Open Sans', "Arial", "sans-serif"
// 
// // DEFAULTS
// body
//   font-family: "Arial", "Verdana"
//   font-size: 13px
//   color: $black
//   background-color: $dark_bg
//   line-height: 1
// 
// ol, ul
//   list-style: none
// 
// blockquote, q
//   quotes: none
// 
// blockquote
//   &:before, &:after
//     content: ''
//     content: none
// q
//   &:before, &:after
//     content: ''
//     content: none
// 
// table
//   border-collapse: collapse
//   border-spacing: 0
// 
// td, th
//   white-space: nowrap
// 
// tr
//   height: 1em
// 
// table.inline_form
//   width: 100%
//   td
//     vertical-align: bottom
// 
// a
//   color: $black
//   text-decoration: underline
// 
// b
//   font-weight: bolder
// 
// p
//   margin: 1em 0
// 
// h1
//   padding: 10px 0
//   @include drop-shadow
//   font-size: 2em
// 
// h2
//   font-size: 1.2em
//   margin: 10px 0
// 
// h3
//   font-size: 1.1em
//   font-weight: bolder
//   margin: 5px 0
// 
// hr
//   width: 80%
//   margin: 10px 10%
//   border: none
//   border-top: solid 1px $black
// 
// footer
//   color: $grey
//   padding: 20px
//   text-align: center
//   clear: both
//   line-height: 1.5em
//   a
//     color: $white
// 
// ////////////////
// /// TEMPLATE //
// //////////////
// 
// // MENU
// header
//   background:  $primary_menu_bg url('primary-menu-bg.png') repeat-x 0 100%
//   height: 30px
//   min-width: 1000px
// 
//   #quick_search
//     input[type="search"]
//       font-weight: lighter
//       width: 200px
//       height: 30px
//       margin: 0
//       padding: 0 10px
//       border: none
//       border-right: solid 1px $black
//       background-color: rgba(255,255,255,0.1)
//       color: $white
// 
// header nav, .submenu
//   padding-left: 150px
//   height: 30px
//   ul
//     height: 30px
//     li
//       display: inline
//       a
//         max-width: 200px
//         white-space: nowrap
//         overflow: hidden
//         display: block
//         padding: 0 10px
//         float: left
//         color: $soft_grey
//         padding: 8px 10px 2px 10px
//         height: 20px
//         text-decoration: none
// 
// header nav ul li a
//   &:hover
//     background-color: $dark_grey
//   &.person
//     color: $white
//   &.on
//     background-color: $secondary_menu_bg
//     color: $white
// 
// .submenu
//   background:  $secondary_menu_bg url('secondary-menu-bg.png') repeat-x 0 100%
// 
//   .ui-button
//     padding: 2px 5px 0 5px !important
//     margin-left: 5px
// 
//   ul li a
//     &:hover
//       background-color: $strong_grey
//     &.person
//       color: $white
//     &.on
//       background-color: $white
//       color: $black
// 
// header, .submenu
//   nav>ul, >ul
//     border-left: solid 1px $black
//     li a
//       border-right: solid 1px $black
// 
//   .logo
//     width: 150px
//     float: left
//     padding: 3px 0
// 
//     // @include drop-shadow
//     img
//       height: 25px
//       padding: 0 5px 0 15px
//       vertical-align: top
//     .title
//       display: inline
//       font-size: 25px
//       color: $white
//       text-shadow: 0 2px 2px rgba(1, 1, 1, 0.5)
//       font-family: 'Open Sans', "Arial", "sans-serif"
// 
//   .tools
//     padding: 2px 10px 0 0
//     text-align: right
//     float: right
//     position: relative
//     top: 0
//     right: 0
//     color: $soft_grey
// 
//     a
//       text-decoration: none
// 
//     .background_tasks
//       display: inline-block
//       margin-right: 20px
//       color: $black
// 
//     .lang
//       display: inline-block
//       margin-right: 20px
// 
//       a
//         color: $white
// 
//     .ui-button-text
//       padding: 0 5px !important
// 
// 
// // BODY
// #wrap
//   width: 100%
//   margin: 0 auto
// 
// #content_container
//   min-width: 1000px
// 
// #content_wrapper
//   margin-top: 0
//   &.page
//     padding:  0 10px
//     margin: 0
// 
// #content
//   background-color: $white
//   min-height: 768px
//   margin: 0 auto
//   width: 100% // this will be overloaded by rearrange widget function
//   padding-top: 10px
// 
// #results
//   tr
//     cursor: pointer
// 
// table
//   &.select_list
//     width: 100%
//     td
//       width: 50%
//       vertical-align: top
//   &.groups td
//     padding: 10px
// 
// .toolbox
//   width: 80%
//   margin: 10px auto
//   padding: 10px
//   background-color: $light_grey
//   border-radius: 10px
//   legend
//     font-weight: bolder
//     margin-bottom: 10px
//   li
//     margin-left: 20px
//     margin-bottom: 10px
// 
// #dialog
//   display: none
//   select
//     width: 100%
// 
// //////////////
// // WIDGETS //
// ////////////
// .widget
//   &:not(.ui-dialog)
//     width: 500px
//     padding: 2px
//     overflow: hidden
//     // fixes the dataTables clear:both annoying behavior
//     margin: 10px
// 
//   &:not(.ui-dialog) > div
//     margin: 8px
// 
//   input
//     &[type='text'], &[type='search'], &[type='password'], &[type='tel'], &[type='email']
//       width: 214px
//       padding: 0 3px
//     &.small, &[type='date'], &.datepicker
//       width: 100px
//     &[type='text'].large, &[type='search'].large
//       width: 100%
// 
//     &[type='number']
//       width: 94px
//       text-align: right
//       padding: 0 3px
//     &[type='date'], &.datepicker
//       text-align: center
// 
//     .ui-dialog-titlebar .right-corner-box
//       float: right
//       margin-right: 10px
// 
//   select
//     min-width: 100px
// 
//   >
//     legend
//       display: block
//       padding: 5px 10px 8px 10px
//       @include drop-shadow
// 
//       .right-corner-box
//         float: right
//         margin-right: 10px
//         min-width: 40px
//         cursor: pointer
// 
//       .notification-box
//         min-width: 50px
//         float: right
//         text-align: right
//         margin-right: 10px
// 
//     .ui-dialog-titlebar .notification-box
//       min-width: 50px
//       float: right
//       text-align: right
//       margin-right: 10px
// 
// .widget label:not(.inline), .filter label, .fullscreen_widget
//   font-size: 0.8em
//   padding-left: 3px
//   padding-top: 10px
//   display: block
// 
// .widget > .content:not(.active)
//   display: none
// 
// ////////////
// // FORMS //
// //////////
// input[type="search"], input[type="email"], input[type="password"], input[type="tel"], input[type="text"], input[type="number"]
//   -webkit-appearance: none
//   border: solid 1px $grey
//   font-size: 1em
//   text-indent: 0
// 
// input[disabled='disabled']
//   background-color: $light_grey
// 
// label.required:after
//   content: " *"
//   font-weight: bolder
// 
// textarea.like_an_input
//   border: dashed 1px $grey
//   width: 218px
//   margin: 1px 0 0 2px
//   padding: 0
// 
// .full_width_textarea
//   padding-right: 2px
//   // textarea MS bug
//   padding-left: 2px
//   // style
//   padding-top: 2px
//   textarea
//     width: 100%
//     margin: 0 0 10px 0
//     padding: 0
// 
// .autocompleted label, .multi_autocompleted label
//   color: $autocompleters
// 
// .left .widget
//   margin-right: 10px
// 
// .right .widget
//   margin-left: 10px
// 
// img.spinner
//   margin-right: 5px
//   display: none
// 
// 
// ///////////////
// // SALARIES //
// /////////////
// 
// .bold
//   font-weight: bold
// 
// .section_wrapper
//   text-align: center
//   min-height: 2em
// 
// .section
//   margin-bottom: 10px
//   display: inline
//   color: $dark_grey
//   border-bottom: 1px solid $grey
//   padding: 15px 25px 3px 25px
//   @include drop-shadow
// 
// #edit-salary-window
//   .details
//     td
//       vertical-align: top
// 
// 
//   table.summary
//     min-width: 300px
//     max-width: 500px
//     border-collapse: collapse
//     margin: 0 auto
// 
//     th
//       font-weight: bold
// 
//     td,th
//       padding: 3px 0
// 
//     td:first-child, th:first-child
//       text-align: left
// 
//     td:last-child, th:last-child
//       text-align: right
// 
// // Used by any table with sorted row
// // should be generic
// table.category
//   width: 100%
//   border-collapse: collapse
// 
//   tr
//     height: 24px
// 
//   th
//     font-weight: bold
// 
//   th, td
//     text-align: center
//     padding: 3px
// 
//   td
//     background-color: $white
//     input.selected
//       border: solid 2px $black
// 
//     input.focused
//       border: solid 2px $warn
// 
//     input[type='radio']
//       display: none
// 
//   td.tax
//     border-right: solid 1px $grey
//     border-left: solid 1px $grey
//     min-width: 40px
// 
//   td.handle
//     text-align: center
//     vertical-align: middle
// 
//   tr.placeholder
//     height: 32px
// 
//   span.sort_handle
//     margin: 0 auto
//     border: solid 1px $black
//     border-radius: 3px
// 
// ////////////////////
// // SEARCH ENGINE //
// //////////////////
// #search
//   input[type="search"]
//     font-weight: lighter
//     font-size: 1.5em
//     width: 80%
//     margin: 20px auto
// 
// input[type=text].search_engine
//   margin: 20px 0
//   width: 100%
// 
// #search_engine h1
//   clear: both
// 
// #search_help
//   display: none
//   width: 76%
//   border: solid 1px $soft_grey
//   border-radius: 5px
//   margin: 10px auto
//   padding: 2%
// 
// #search_form
//   margin: 0 10px
// 
// #advanced_search
//   margin: 10px
// 
// .presets, .filter
//   clear: both
// 
// .presets
//   padding: 1%
//   overflow: auto
//   overflow-y: hidden
// 
// .preset_actions
//   width: 18%
//   padding: 1%
// 
// .filter
//   background-color: $dirty_white
//   display: block
// 
//   .all_attributes, .selected_attributes, .attributes_order
//     float: left
//     padding: 1%
//     overflow: hidden
// 
//   .selected_attributes, .attributes_order
//     width: 18%
// 
//   .all_attributes
//     width: 58%
// 
//   .droppable
//     min-height: 200px
//     background-color: $slight_grey
//   .draggable
//     cursor: move
// 
// .presets li
//   &.ui-state-default, &.ui-state-active, &.ui-state-highlight
//     display: inline-block
//     list-style: none
//     min-width: 20px
//     padding: 5px
//     margin: 3px 0
// 
// .all_attributes li
//   &.ui-state-default, &.ui-state-highlight
//     display: inline-block
//     list-style: none
//     min-width: 20px
//     padding: 5px
//     margin: 3px 0
// 
// .presets li
//   cursor: pointer
// 
// .selected_attributes li
//   &.ui-state-default, &.ui-state-highlight
//     list-style: decimal
//     height: 15px
//     padding: 5px
//     margin: 3px 0
//     overflow: hidden
//     cursor: move
// 
// .attributes_order li
//   &.ui-state-default, &.ui-state-highlight
//     list-style: decimal
//     height: 15px
//     padding: 5px
//     margin: 3px 0
//     overflow: hidden
//     cursor: move
// 
// .filter li button
//   &.remove
//     float: right
//   &.order!
//   width: 30px
//   margin: 0
//   padding: 0
// 
// #results_wrapper
//   margin: 10px
// 
// // PAGINATION
// #pagination
//   height: 50px
//   margin: 0 10px
// 
//   a
//     text-decoration: none
//     opacity: 0.8
// 
//   a:hover
//     opacity: 1
// 
//   // .current_person, .previous_person, .next_person
// 
//   .current_person
//     font-weight: bold
//     width: 34%
//     margin: 0 33%
//     text-align: center
//     overflow: hidden
//     white-space: nowrap
// 
//     .name
//       font-size: 2em
//       font-weight: lighter
//       padding: 4px
//       @include drop-shadow
// 
//   .previous_person, .next_person
//     width: 33%
//     overflow: hidden
//     white-space: nowrap
// 
//   .previous_person
//     float: left
//     text-align: left
// 
//     .previous_item img, .first_item img
//       vertical-align: middle
// 
//     .previous_item img
//       height: 40px
//       margin: 5px 10px 5px 0
// 
//     .first_item img
//       height: 20px
//       margin: 15px 0 15px 10px
// 
//   .next_person
//     float: right
//     text-align: right
// 
//     .last_item img,.next_item img
//       vertical-align: middle
//       -moz-transform: scaleX(-1)
//       -o-transform: scaleX(-1)
//       -webkit-transform: scaleX(-1)
//       transform: scaleX(-1)
//       filter: FlipH
//       -ms-filter: "FlipH"
// 
//     .next_item img
//       height: 40px
//       margin: 5px 0 5px 10px
// 
//     .last_item img
//       height: 20px
//       margin: 15px 10px 15px 0
// 
// 
// //////////////
// // WYSIWYG //
// ////////////
// .placeholders
//   background-color: $light_grey
//   padding: 1em
// 
//   dd
//     text-indent: 1em
//     margin-bottom: 0.5em
// 
// ///////////////////////////////
// // ERRORS and NOTIFICATIONS //
// /////////////////////////////
// .error_explanation, .notice_explanation
//   margin: 10px
//   padding: 10px
// 
// .error_explanation h2, .notice_explanation h2
//   font-weight: bold
// 
// .error_explanation ul, .notice_explanation ul
//   margin: 1em 0 1em 2em
//   list-style-type: decimal
// 
// .field_with_errors
//   //display: inline
//   input, select, textarea
//     border-color: $error
// 
// .error_page
//   color: $white
//   text-shadow: 2px 2px 2px $black
//   a
//     color: $white
// 
// #content.error
//   background-repeat: no-repeat
//   width: 1003px
//   padding: 10px
//   border: solid 5px $light_grey
// 
// .notice
//   display: inline
//   font-weight: lighter
// 
// #content .error
//   display: inline
//   font-weight: lighter
//   color: $error
// 
// .notice
//   color: $good
// 
// //////////////
// // HELPERS //
// /////////////
// .contextmenu
//   display: none
// 
// .accordion
//   margin-bottom: 10px
// 
// .column
//   float: left
// 
// 
// label.inline
//   margin-bottom: 5px
// 
// .strength
//   padding: 5px
//   display: inline
// 
// .weak, .warn
//   background-color: $error_bg
//   color: $error
// 
// .good
//   background-color: $warn_bg
//   color: $warn
// 
// .strong
//   background-color: $good_bg
//   color: $good
// 
// .quarter
//   width: 25%
// 
// .third
//   width: 33%
// 
// .two_third
//   width: 64%
// 
// .half
//   width: 50%
// 
// .left
//   width: 50%
//   float: left
// 
// .right
//   margin-left: 50%
// 
// .float_right
//   float: right
// 
// .float_left
//   float: left
// 
// .align_right
//   text-align: right !important
// 
// .block
//   display: block
//   width: 100%
//   clear: both
// 
// .inline_block
//   display: inline-block
// 
// .centered
//   margin: 0 auto !important
// 
// .centered_text
//   text-align: center
// 
// .stackable-block
//   display: inline-block
//   float: left
//   margin: 0 10px 0 0
// 
// .white
//   color: $white
// 
// .grey_bg
//   background-color: $light_grey
// 
// /////////////////
// // DATATABLES //
// ///////////////
// table.dataTable
//   tr:hover
//     background-color: $blue_bg !important
// 
//   tr:hover td.sorting_1
//     background-color: $blue_bg !important
// 
//   tr.level1
//     td:first-child,
//     td:nth-child(2)
//       text-indent: 5px
// 
//   tr.level2
//     td:first-child,
//     td:nth-child(2)
//       text-indent: 10px
// 
//   tr.level3
//     td:first-child,
//     td:nth-child(2)
//       text-indent: 15px
// 
//   tr.level4
//     td:first-child,
//     td:nth-child(2)
//       text-indent: 20px
// 
//   tr.level5
//     td:first-child,
//     td:nth-child(2)
//       text-indent: 25px
// 
//   tr.level6
//     td:first-child,
//     td:nth-child(2)
//       text-indent: 30px
// 
//   tr.level7
//     td:first-child,
//     td:nth-child(2)
//       text-indent: 35px
// 
//   tr.level8
//     td:first-child,
//     td:nth-child(2)
//       text-indent: 40px
// 
//   tr.child, .someone_else
//     color: $strong_grey
// 
//   td .someone_else
//     display: inline
// 
//   td.number
//     text-align: right
// 
//   td .me
//     color: $black
//     display: inline
// 
// // custom import view (?)
// 
// #import_help
//   margin-top: 10px
//   margin-bottom: 10px
// 
// table#import tbody tr.import_error
//   background-color: #faa
//   &.odd
//     background-color: #fbb
//   td.sorting_1
//     background-color: #e99
//   &.odd td.sorting_1
//     background-color: #eaa

///////////////////////////
// BVR bank file import //
/////////////////////////

#new_receipts
  width: 100%
  border: solid 1px $grey
  padding: 5px
  td
    border: solid 1px $grey
    padding: 5px
  th
    border: solid 1px $grey
    padding: 5px
    background-color: $grey

.bvr_correct
  background-color: $good_bg

.bvr_rectification
  background-color: $blue_bg

.bvr_already_imported
  background-color: $warn_bg

.bvr_error
  background-color: $error_bg

.bvr_summary
  background-color: $black
  color: $white