!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'content-type', content: 'text/html; charset=utf-8'}
    %link{href: "https://assets.circl.ch/css/pdf_common.css", media: "all", rel: "stylesheet"}
    %link{href: "https://assets.circl.ch/css/custom_fonts.css", media: "all", rel: "stylesheet"}

  %body
    = yield(:layout)
